@media(max-width:400px){
  products-class{
    flex-direction: column;
  }
} 
.products-class{
  margin:10px;
}
.card-class{
  margin-top: 10px;
}

.example-full-width {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
