<mat-drawer-container class="example-container" fullscreen>
    <mat-drawer #drawer class="sidenav-class" mode="side" opened>
        <!-- <button (click)="showFiller = !showFiller" mat-raised-button color="primary">
        </button> -->

        <mat-nav-list>
            <mat-list-item>
                <a>
                    <mat-icon>arrow_right_alt</mat-icon>
                </a>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon routerLink="/">home</mat-icon>
                <h4 mat-line *ngIf="false">Home</h4>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon routerLink="products">person</mat-icon>
                <h4 mat-line *ngIf="false">Management A</h4>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon routerLink="products">exit_to_app</mat-icon>
                <h4 mat-line *ngIf="false"></h4>
            </mat-list-item>

        </mat-nav-list>


    </mat-drawer>

    <div class="example-sidenav-content">
        <mat-toolbar color="primary">
            <button type="button" mat-button (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <span>Web shop</span>
            <span class="example-spacer"></span>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>
                    <mat-icon>dialpad</mat-icon>
                    <span>Redial</span>
                </button>
                <button mat-menu-item disabled>
                    <mat-icon>voicemail</mat-icon>
                    <span>Check voice mail</span>
                </button>
                <button mat-menu-item>
                    <mat-icon>notifications_off</mat-icon>
                    <span>Disable alerts</span>
                </button>
            </mat-menu>
        </mat-toolbar>
    </div>

    <div class="router-class">
        <router-outlet></router-outlet>
    </div>

</mat-drawer-container>