<mat-drawer-container class="example-container" fullscreen>
    <mat-drawer #drawer class="sidenav-class" mode="side" opened>
        <mat-nav-list>
            <mat-list-item (click)="arrowIcon()">
                <a *ngIf="isOpen; else elseLeft">
                    <mat-icon>keyboard_backspace</mat-icon>
                </a>

                <ng-template #elseLeft>
                    <a #elseLeft>
                        <mat-icon>arrow_right_alt</mat-icon>
                    </a>
                </ng-template>
            </mat-list-item>

            <mat-list-item routerLink="/">
                <mat-icon mat-list-icon>home</mat-icon>
                <h4 mat-line *ngIf="isOpen">Početna</h4>
            </mat-list-item>

            <mat-list-item routerLink="category">
                <mat-icon mat-list-icon>category</mat-icon>
                <h4 mat-line *ngIf="isOpen">Kategorija</h4>
            </mat-list-item>

            <mat-list-item routerLink="profile">
                <mat-icon mat-list-icon>person</mat-icon>
                <h4 mat-line *ngIf="isOpen">Profil</h4>
            </mat-list-item>

            <mat-list-item routerLink="admin">
                <mat-icon mat-list-icon>admin_panel_settings</mat-icon>
                <h4 mat-line *ngIf="isOpen">Admin panel</h4>
            </mat-list-item>

            <mat-list-item routerLink="shopping-cart">
                <mat-icon mat-list-icon>shopping_cart</mat-icon>
                <h4 mat-line *ngIf="isOpen">Košarica</h4>
            </mat-list-item>

            <mat-list-item routerLink="login">
                <mat-icon mat-list-icon>login</mat-icon>
                <h4 mat-line *ngIf="isOpen">Prijava</h4>
            </mat-list-item>

        </mat-nav-list>
    </mat-drawer>

    <div class="example-sidenav-content">
        <mat-toolbar color="primary">
            <button type="button" mat-button (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <span>Web shop</span>
            <span class="example-spacer"></span>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>
                    <mat-icon>settings</mat-icon>
                    <span>Postavke</span>
                </button>
                <button mat-menu-item>
                    <mat-icon>exit_to_app</mat-icon>
                    <span>Odjava</span>
                </button>
            </mat-menu>
        </mat-toolbar>
    </div>

    <div class="router-class">
        <router-outlet></router-outlet>
    </div>

</mat-drawer-container>